<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <title>Panel administratora</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>

<body>
<div class="jumbotron">
    <h1 class="display-4">Witaj w panelu administratora!</h1>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" th:href="@{/admin}" role="button">Schowaj panel zamówień</a>
    <a class="btn btn-primary btn-lg" th:href="@{/admin/users}" role="button">Wyświetl listę użytkowników</a>
    <a class="btn btn-primary btn-lg" th:href="@{admin/menu}" role="button">Wyświetl menu</a>
    <a class="btn btn-primary btn-lg" th:href="@{/}" role="button">Powrót na stronę główną</a>
    <a class="btn btn-primary btn-lg" th:href="@{/logout}" role="button">Wyloguj się</a>

</div>
<tbody>
<tr th:if="${ archiwalneZamowienia == null  || archiwalneZamowienia.isEmpty()}">
    <td colspan="2"> Brak archiwalnych zamówień! </td>
</tr>
<a class="btn btn-primary btn-lg" th:href="@{/admin/zamowienia}" role="button">Aktualne zamówienia</a>
</tbody>
<tbody><div th:if="${message}" class="alert alert-success text-center"> [[${message}]] </div></tbody>
<tbody>
<table class = "table table-bordered">
    <thead class="thead-dark">
    </tr>
    <th>ID</th>
    <th>Nazwa potrawy</th>
    <th>Ilość</th>
    <th>Cena</th>
    <th>Status</th>
    <th>Czas zamówienia</th>
    <th>Imie i nazwisko</th>
    <th>Email</th>
    <th>Telefon</th>
    <th>Adres</th>
    <th>Uwagi</th>
    </thead>
    <th:block th:each="zamowienia :${archiwalneZamowienia}">
        <tr>
            <td>[[${zamowienia.id}]]</td>
            <td>[[${zamowienia.foodItem.nazwa}]]</td>
            <td>[[${zamowienia.ilosc}]]</td>
            <td>[[${zamowienia.cena_koncowa}]]</td>
            <td>[[${zamowienia.status.status}]]</td>
            <td>[[${zamowienia.czas_zamowienia}]]</td>
            <td>[[${zamowienia.appUser.imie}]] [[${zamowienia.appUser.nazwisko}]]</td>
            <td>[[${zamowienia.appUser.email}]]</td>
            <td>[[${zamowienia.appUser.telefon}]]</td>
            <td>[[${zamowienia.appUser.address.miasto}]] [[${zamowienia.appUser.address.ulica}]] [[${zamowienia.appUser.address.numer_budynku}]]/[[${zamowienia.appUser.address.numer_lokalu}]]</td>
            <td>[[${zamowienia.dodatkowe_informacje}]]</td>
            <td>
                <a class = "h4 mr-3"  th:href = "@{'/admin/zamowienia/archiwum/przywroc/' + ${zamowienia.id}}">Przywróć zamówienie</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>